<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Copyright 2024 University of Oxford

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

  <xacro:macro name="hesai_gazebo" params="prefix lidar_frame:=pandar topic_name=/hesai/pandar
               min_range:=0.4 max_range:=80.0 min_horizontal_angle:=-180.0 max_horizontal_angle:=180.0
               min_vertical_angle:=-16.0 max_vertical_angle:=15.0 hz:=10 samples:=2000 lasers:=32
               collision_range:=0.3 noise:=0.008 visualize:=false use_gpu:=true">

    <gazebo reference="${lidar_frame}">
      <xacro:if value="${use_gpu}">
        <xacro:property name="ray_type" value="gpu_ray" />
        <xacro:property name="laser_plugin" value="libgazebo_ros_velodyne_gpu_laser.so" />
      </xacro:if>
      <xacro:unless value="${use_gpu}">
        <xacro:property name="ray_type" value="ray" />
        <xacro:property name="laser_plugin" value="libgazebo_ros_velodyne_laser.so" />
      </xacro:unless>

      <sensor type="${ray_type}" name="${prefix}hesai_sensor">
        <pose>0 0 0 0 0 0</pose>
        <visualize>${visualize}</visualize>
        <update_rate>${hz}</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>${samples}</samples>
              <resolution>1</resolution>
              <min_angle>${min_horizontal_angle*pi/180.0}</min_angle>
              <max_angle>${max_horizontal_angle*pi/180.0}</max_angle>
            </horizontal>
            <vertical>
              <samples>${lasers}</samples>
              <resolution>1</resolution>
              <min_angle>${min_vertical_angle*pi/180.0}</min_angle>
              <max_angle>${max_vertical_angle*pi/180.0}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${collision_range}</min>
            <max>${max_range+1}</max>
            <resolution>0.001</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.0</stddev>
          </noise>
        </ray>
        
        <plugin name="${prefix}gazebo_ros_laser_controller" filename="${laser_plugin}">
          <topicName>${topic_name}</topicName>
          <frameName>${lidar_frame}</frameName> 
          <min_range>${min_range}</min_range>
          <max_range>${max_range}</max_range>
          <gaussianNoise>${noise}</gaussianNoise>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
