<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="hesai_gazebo" params="prefix lidar_frame:=pandar topic_name=/hesai/pandar
               min_range:=0.4 max_range:=80.0 min_horizontal_angle:=-180.0 max_horizontal_angle:=180.0
               min_vertical_angle:=-16.0 max_vertical_angle:=15.0 hz:=10 samples:=2000 lasers:=32
               collision_range:=0.3 noise:=0.008 visualize:=false">

    <gazebo reference="${lidar_frame}">
      <sensor name="${prefix}hesai_sensor" type="lidar">
        <update_rate>${hz}</update_rate>
        <visualize>${visualize}</visualize>
        <always_on>true</always_on>
        <ignition_frame_id>${lidar_frame}</ignition_frame_id>
        <topic>${topic_name}</topic>
        <!-- 'ray' for Gazebo Classic, 'lidar' for Ignition -->
        <ray>
          <scan>
            <horizontal>
              <samples>${samples}</samples>
              <resolution>1</resolution>
              <min_angle>${min_horizontal_angle*pi/180.0}</min_angle>
              <max_angle>${max_horizontal_angle*pi/180.0}</max_angle>
            </horizontal>
            <vertical>
              <samples>${lasers}</samples>
              <resolution>1</resolution>
              <min_angle>${min_vertical_angle*pi/180.0}</min_angle>
              <max_angle>${max_vertical_angle*pi/180.0}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${collision_range}</min>
            <max>${max_range+1}</max>
            <resolution>0.01</resolution>
          </range>
        </ray>

        <plugin name="${prefix}gazebo_ros_laser_controller" filename="libgazebo_ros_velodyne_laser.so">
          <ros>
            <remapping>~/out:=${topic_name}</remapping>
          </ros>
          <topicName>${topic_name}</topicName>
          <frameName>${lidar_frame}</frameName> 
          <min_range>${min_range}</min_range>
          <max_range>${max_range}</max_range>
          <gaussianNoise>${noise}</gaussianNoise>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
