<?xml version="1.0"?>

<!-- Copyright 2022 University of Oxford

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->


<!-- Hesai PandarQT-64 Lidar Sensor -->
<robot name="hesai_qt64" xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:arg name="simulation" default="false"/>
<xacro:arg name="use_gpu" default="true"/>

<xacro:macro name="hesai_qt64_device" params="parent *origin prefix:='' name:=pandar_qt64_lidar
                                              topic_name:=/hesai/pandar
                                              simulation:=false lidar_frame:=pandar use_gpu:=true">
  <joint name="${parent}_to_${prefix}hesai" type="fixed">
    <xacro:insert_block name="origin"/>
    <parent link="${parent}" />
    <child link="${prefix}hesai_base" />
  </joint>
  <link name="${prefix}hesai_base">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <!-- If mesh is not available: -->
      <!--origin xyz="0 0 38.0e-3" rpy="0 0 0" /-->
      <geometry>
        <!-- If mesh is not available: -->
        <!--cylinder radius="51.500e-3" length="76.0e-3" /-->
        <mesh filename="package://hesai_description/urdf/meshes/PandarQT64_model.dae" />
      </geometry>
    </visual>
    <inertial>
      <!-- CoM taken from CAD assuming constant density and mass 0.807 (best approximation available to real mass) -->
      <origin xyz="-0.015e-3 0.0 37.494e-3" rpy="0 0 0" />
      <!-- mass taken from Hesai datasheet -->
      <mass value="0.807" />
      <!-- Inertia tensor from CAD assuming constant density and mass 0.807 (best approximation vailable to real mass) -->
      <inertia ixx="886.81e-6" ixy="5.802e-11" ixz="-0.34e-6" iyy="898.12e-6" iyz="-0.014e-6" izz="1004.287e-6" />
    </inertial>
    <collision>
      <origin xyz="0 0 38.0e-3"/>
      <geometry>
        <cylinder radius="51.500e-3" length="76.0e-3" />
      </geometry>
    </collision>
  </link>
  <link name="${lidar_frame}"/>
  <joint name="${prefix}hesai_base_to_pandar" type="fixed">
    <!-- See page 12 of QT64 User Manual -->
    <!-- note that the X axis points left. See manual page 11 -->
    <origin xyz="0.0 0.0 50.4e-3" rpy="0.0 0.0 ${pi/2}"/>
    <parent link="${prefix}hesai_base"/>
    <child link="${lidar_frame}" />
  </joint>

  <xacro:if value="${simulation}">
    <xacro:include filename="$(find hesai_description)/urdf/gazebo.urdf.xacro"/>
    <xacro:hesai_gazebo prefix="${prefix}" lidar_frame="${lidar_frame}" topic_name="${topic_name}" min_range="0.1" max_range="20.0" 
      min_horizontal_angle="-180.0" max_horizontal_angle="180.0" min_vertical_angle="-52.1" max_vertical_angle="52.1"
      hz="10" samples="600" lasers="64" collision_range="0.3" noise="0.008" use_gpu="${use_gpu}"
    />
  </xacro:if>
</xacro:macro>

</robot>
