<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="prefix" default="" />
  <arg name="simulation" default="false" />
  <arg name="use_gpu" default="true" />
  <arg name="model" default="$(find hesai_description)/urdf/hesai_qt64_standalone.urdf.xacro" />

  <param name="robot_description" command="xacro $(arg model) prefix:=$(arg prefix) simulation:=$(arg simulation) use_gpu:=$(arg use_gpu)" />
</launch>
