<?xml version="1.0"?>
<launch>
  <arg name="rviz" default="true" />
  <arg name="prefix" default="" />
  <arg name="simulation" default="true" />
  <arg name="use_gpu" default="true" />

  <include file="$(find hesai_description)/launch/load.launch">
    <arg name="prefix" value="$(arg prefix)"/>
    <arg name="simulation" value="$(arg simulation)"/>
    <arg name="use_gpu" value="$(arg use_gpu)"/>
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find hesai_description)/config/rviz/display_urdf.rviz" />
</launch>

